/* 通用样式 */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
  }
  a {
    color: #e4e8ec;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  h1, h2, h3 {
    font-weight: normal;
  }
  
  /* 头部区域（头像 + 名字 + 联系方式） */
  header {
    background-color: #EBF5FB;
    padding: 1rem;
    align-items: center;
    text-align: center;
  }
  header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  header h1 {
    margin: 0.5rem 0;
    font-size: 2rem;
  }
  header p {
    margin: 0.2rem 0;
    color: #555;
  }

  header a{
    color: #555;
  }
  
  /* 主体内容整体布局 */
  main {
    margin: 1rem;
    border-radius: 0.5rem;
  }
  
  /* 每个板块（section）的标题 */
  section {
    margin-bottom: 2rem;
    background-color: EBF5FB;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  
  /* 工作经历、教育、获奖、项目等列表的样式 */
  .item {
    margin-bottom: 1.5rem;
  }
  .item h3 {
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
    color: #333;
  }
  .item p {
    margin-left: 1rem;
    color: #555;
  }
  .item a{
    color: #1fa4f1
  }
  
  /* 响应式：移动设备适配 */
  @media (max-width: 600px) {
    main {
      margin: 1rem;
    }
    header {
      padding: 1.5rem 1rem;
    }
    header h1 {
      font-size: 1.5rem;
    }
  }